@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,700);


body {
  font-family: 'Inconsolata', sans-serif;
  margin: 0;
  font-weight: 300;
  -webkit-font-smoothing:antialiased;
  line-height: 1.3em;
}

.paragrafs{
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
}

/* Texto */

h1 {
  font-family: 'Inconsolata';
  text-transform: uppercase;
}

p {
  font-size: 1em;
  max-width: 800px;
}

a {
  color: #000;
}

em {
  font-weight: 700;
}

h4 {
  font-size: .8em;
}

span {
  font-weight: 700;
}

/* HEADER */

.header {
  margin-left: -50px;
}

.header li{
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  padding-top: 20px;
}

.header a{
    border-bottom: 0px;
}

.redes{
    float: right;
}

#logoaf {
  width: 40px;
}

#logo {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Graficos */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 11px 'Rubik';
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells{
  fill:#007EA7;
}

.cells :hover circle {
  fill: #000;
}

/* legenda */

ul {
  padding: 0;
}

.legenda li {
  margin: 0;
  padding: 2px 5px;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Inconsolata';
}

#Comparativo {
  color: #fff;
  background-color: #000
}

#Americas {
  background-color: rgba(112, 193, 179, 0.4)
}

#Europa {
  background-color: rgba(29, 53, 87, .4)
}

#Asia {
  background-color: rgba(250, 166, 26, .4)
}

#Oceania {
  background-color:rgba(167, 0, 44, .4)
}

#Africa {
  background-color: rgba(255, 224, 102, 0.4)
}
