@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: #fff;
  font-size: 1em;
  background: 0;
  padding: 0;
  margin: 0;
}

#banner {
  background-image: url(../dilma_impeach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin-top: -110px;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 98vh;
  z-index: 100;
  position: absolute;
  top:0;
  padding-top: 15%;
  width: 100%;
}

h1, h2, h3{
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5em;
  padding: 2rem;
  padding-bottom: 0;
  font-family: 'Inconsolata';
}

h1 {
  text-transform: uppercase;
}

a {
  border-bottom: 1px solid #faa61a;
  text-decoration: none;
  color: black;
  font-weight: 300;
}

#cred {
  color: #faa61a;
}

h1{
  font-size: 2.4em;
  color: #fff;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  padding-top: 0rem;
  font-weight: 400;
  color: #fff;
}

h3 {
  font-size: 1em;
  padding-top: 1rem;
  font-family: 'Rubik';
  font-weight: 300;
}

h4 {
  top: 30px;
  margin-bottom: 5px;
  font-family: 'Inconsolata', sans-serif;
}

h5 {
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 0rem;
  font-weight: 700;
}

h6 {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0rem;
  font-weight: 400;
  color: #faa61a;
}

h7{
  font-size: .7em;
  padding: 5px;
  float: right;
}
img {
  width: 400px;
  overflow: hidden;
}

.linha {
  border-bottom: 1px solid #000;
  width: 50px;
  margin: 0 auto;
  padding: 5px;
}

ul {
  padding-right: 10px;
}

li {
  line-height: 1.5em;
  list-style-type: none;
}

span{
  font-weight: 700;
  font-family: 'Inconsolata';
  text-transform: uppercase;
  font-size: 1em;
}

/* HEADER */

.header li{
  display: inline-block;
  list-style-type: none;
  margin-right: 5%;
  padding-top: 20px;
}

.header a{
    border-bottom: 0px;
}

.redes{
   position:fixed;
   float: right;
}

/* logos */

#logo {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 70px;
  border-bottom: 0;
}

#logoaf {
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 40px;
  border: 0px;
}

/* REFERENCIAS - PANORAMA */

#voltlytics{
    visibility: hidden;
}

.panorama {
  padding: 50px 5%;
  margin: 0;
  width: 100%;
}

#panorama {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5em;
}

.listpan li{
  list-style-type: square;
  margin-bottom: 5px;
  padding: 0;
  line-height: 1.5em;
}

.referencias{
  background-color: #ededed;
  padding: 50px 5%;
  margin: 0;
}

#referencias{
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5em;
  border-bottom: 1px solid black;
}

.footer{
  margin: 0;
  padding: 50px 0;
  text-align: center;
  width: 100%;
  background-color: #ededed;
}

/*Botão para hide/show explicação */
article {
  position: relative;
}
article section:last-of-type {
  display: none;
  visibility: hidden;
  padding-left: 20px;
  margin: 0 auto;
}
section {
  -webkit-transition: .125s linear;
  -moz-transition: .125s linear;
  -ms-transition: .125s linear;
  -o-transition: .125s linear;
  transition: .125s linear;
  color: #000;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  margin: 0 auto;
}
[for="read_more"] {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
[for="read_more"]:hover {
  background: rgba(250, 166, 26, .7);
}

[for="read_more"] span:last-of-type {
  display: none;
  visibility: hidden;
}
input[type=checkbox]:checked ~ section {
  display: block;
  visibility: visible;
  margin-top: 0px;
  max-width: 600px;
}
input[type=checkbox]:checked ~ figure {
  max-width: 600px;
}
input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
  display: none;
  visibility: hidden;
  background-color: #fff;
}
input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
  display: block;
  visibility: visible;
  background-color: #fff;
}

input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type:hover{
  background: rgba(250, 166, 26, .7);
}
